/ {
    chosen {
        ncs,zigbee-timer = &timer2;
    };
    zephyr,user {
        io-channels = <&adc 0>;
    };
    leds {
        compatible = "gpio-leds";
        led1: led_1 {
            gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>;
            label = "Blue LED";
        };
    };
    buttons {
        compatible = "gpio-keys";
        button0: button_0 {
            gpios = <&gpio1 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Push button switch 0";
            zephyr,code = <1>;
        };
        button1: button_1 {
            gpios = <&gpio1 7 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Push button switch 1";
            zephyr,code = <2>;
        };
        button2: button_2 {
            gpios = <&gpio0 24 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Push button switch 2";
            zephyr,code = <3>;
        };
        button3: button_3 {
            gpios = <&gpio1 15 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
            label = "Push button switch 3";
            zephyr,code = <4>;
        };
    };
    aliases {
        led1 = &led1;
        sw0 = &button0;
        sw1 = &button1;
        sw2 = &button2;
        sw3 = &button3;
        mcuboot-button0 = &button0;
    };
    longpress {
        compatible = "zephyr,input-longpress";
        input-codes = <1>, <2>, <3>, <4>;
        short-codes = <(0x10 + 1)>, <(0x10 + 2)>, <(0x10 + 3)>, <(0x10 + 4)>;
        long-codes = <(0x20 + 1)>, <(0x20 + 2)>, <(0x20 + 3)>, <(0x20 + 4)>;
        long-delay-ms = <1000>;
        status = "okay";
    };
    double_tap {
        compatible = "zephyr,input-double-tap";
        input-codes = <1>, <2>, <3>, <4>;
        double-tap-codes = <(0x30 + 1)>, <(0x30 + 2)>, <(0x30 + 3)>, <(0x30 + 4)>;
        double-tap-delay-ms = <250>;
    };
    very_longpress: very_longpress {
        compatible = "zephyr,input-longpress";
        input-codes = <1>, <2>, <3>, <4>;
        long-codes = <(0x40 + 1)>, <(0x40 + 2)>, <(0x40 + 3)>, <(0x40 + 4)>;
        long-delay-ms = <5000>;
        status = "okay";
    };
};

&timer2 {
    status = "okay";
};

&adc {
    #address-cells = <1>;
    #size-cells = <0>;

    channel@0 {
        reg = <0>;
        zephyr,gain = "ADC_GAIN_1_2";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME(ADC_ACQ_TIME_MICROSECONDS, 40)>;
        zephyr,input-positive = <NRF_SAADC_VDDHDIV5>;
        zephyr,resolution = <14>;
        zephyr,oversampling = <8>;
    };
};
